.btn.btn-primary-b {
	color: #32384f;	
	border: 1px solid #32384f;
}
.btn.btn-primary-b:hover{
	color: #fff;
	background-color: #32384f;
}

.heading-btn {
	padding: 3px 6px;
    font-size: 0.65em;
    line-height: 1.5em;
}
